.container{
    box-sizing: border-block;
    background-color: skyblue;
    display: inline-block;
    width: 98vw;
    height: 98vh;
    font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans Condensed', sans-serif;
  }
  .box {
    border: 2px solid silver;
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px grey;
  }
  .small {
    width: 31%;
    float: left;
    height: 400px;
  }
  .left {
    width: 64%;
    float: left;
    height: 400px;
  }
  .right {
    width: 31%;
    float: left;
    height: 400px;
  }
  img {
    width: 100%;
    height:60%;
  }
  .text {
    width: 80%;
    padding-left: 40px;
    color: #a7e6e8;
    text-shadow: 2px 2px 15px #000000;
  }
  button {
    float: center;
    width: 100%;
    box-shadow: 2px 2px 2px 2px grey;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  